### Olli-DOOZER

[printer]
kinematics: generic_cartesian
max_velocity: 500
max_accel: 4400
max_z_velocity: 20
max_z_accel: 100

[fan_generic board_fan]
pin: FAN5_PIN
shutdown_speed: 1.0
tachometer_pin: ^FAN5_TACHO_PIN
#tachometer_ppr:
#tachometer_poll_interval:

[delayed_gcode board_fan_start]
# This runs once at startup and initializes all macros.
initial_duration: 0.5
gcode:
  SET_FAN_SPEED FAN=board_fan SPEED=1

[gcode_macro _olli_globals]
variable_print_min: (0,0)
variable_print_max: (225,235)
variable_safe_home_x: 117.5 #"middle"
variable_safe_home_y: 117.5 #"middle"
variable_wait_x: 117.5 #"middle"
variable_wait_y: -5.0 #"middle"
gcode:


[carriage x]
#0-254
position_endstop: -2
position_min: -2
position_max: 225
homing_speed: 80
homing_retract_dist: 0
endstop_pin: tmc2240_a:virtual_endstop

[carriage y]
#0-258
position_endstop: 250
position_min: -8
position_max: 250
homing_speed: 80
homing_retract_dist: 0
endstop_pin: tmc2240_b:virtual_endstop

# z front-left
[carriage z]
#position_endstop: 0
position_max: 205
position_min: -5
homing_speed: 8
homing_retract_dist: 0
endstop_pin: probe:z_virtual_endstop #z-probe
#endstop_pin: ^PF2 #tmc2240_z:virtual_endstop #m3-stop NC

#z front-right
#[extra_carriage z1]
#primary_carriage: z
#endstop_pin: ^PF1 #tmc2240_z1:virtual_endstop #m4-stop NC

#z back-ceenter
#[extra_carriage z2]
#primary_carriage: z
#endstop_pin: ^PF0 #tmc2240_z2:virtual_endstop #m5-stop NC

# Motor1
[stepper b]
carriages: x+y
step_pin: M1_STEP_PIN
dir_pin: !M1_DIR_PIN
enable_pin: !M1_ENABLE_PIN
microsteps: 16
rotation_distance: 40

# Motor2
[stepper a]
carriages: x-y
step_pin: M2_STEP_PIN
dir_pin: !M2_DIR_PIN
enable_pin: !M2_ENABLE_PIN
microsteps: 16
rotation_distance: 40

# Motor3 - z front-left
[stepper z0]
carriages: z
step_pin: M3_STEP_PIN
dir_pin: M3_DIR_PIN
enable_pin: !M3_ENABLE_PIN
microsteps: 16
rotation_distance: 4

# Motor4 - z front-right
[stepper z1]
carriages: z
step_pin: M4_STEP_PIN
dir_pin: M4_DIR_PIN
enable_pin: !M4_ENABLE_PIN
microsteps: 16
rotation_distance: 4

# Motor5 - z back-center
[stepper z2]
carriages: z
step_pin: M5_STEP_PIN
dir_pin: M5_DIR_PIN
enable_pin: !M5_ENABLE_PIN
microsteps: 16
rotation_distance: 4

## Motor1  BTT TMC2240
[tmc2240 stepper b]
cs_pin: M1_CS_PIN
spi_software_mosi_pin: DRIVER_SPI_MOSI_PIN
spi_software_miso_pin: DRIVER_SPI_MISO_PIN
spi_software_sclk_pin: DRIVER_SPI_SCLK_PIN
run_current: 1.400 #1.400
interpolate: False
#stealthchop_threshold: 999999 spreadcycle
#coolstep_threshold: 20
diag0_pin: ^!M1_DIAG_PIN
driver_SGT: 1 #sensifity: -64 (high) .. 63 (low)
driver_SLOPE_CONTROL: 3 #lower driver temperature

## Motor2 BTT TMC2240
[tmc2240 stepper a]
cs_pin: M2_CS_PIN
spi_software_mosi_pin: DRIVER_SPI_MOSI_PIN
spi_software_miso_pin: DRIVER_SPI_MISO_PIN
spi_software_sclk_pin: DRIVER_SPI_SCLK_PIN
run_current: 1.400 #1.400
interpolate: False
#stealthchop_threshold: 999999 spreadcycle
diag0_pin: ^!M2_DIAG_PIN
driver_SGT: 1 #sensifity: -64 (high) .. 63 (low)
#coolstep_threshold: 20
driver_SLOPE_CONTROL: 3 #lower driver temperature

## Motor3
[tmc2240 stepper z0]
cs_pin: M3_CS_PIN
spi_software_mosi_pin: DRIVER_SPI_MOSI_PIN
spi_software_miso_pin: DRIVER_SPI_MISO_PIN
spi_software_sclk_pin: DRIVER_SPI_SCLK_PIN
run_current: 1.400
interpolate: False
#diag0_pin: ^!M3_DIAG_PIN
#driver_SGT: 1 #sensifity: -64 (high) .. 63 (low)
#stealthchop_threshold: 999999
driver_SLOPE_CONTROL: 3 #lower driver temperature

## Motor4
[tmc2240 stepper z1]
cs_pin: M4_CS_PIN
spi_software_mosi_pin: DRIVER_SPI_MOSI_PIN
spi_software_miso_pin: DRIVER_SPI_MISO_PIN
spi_software_sclk_pin: DRIVER_SPI_SCLK_PIN
run_current: 1.400
interpolate: False
#diag0_pin: ^!M4_DIAG_PIN
#driver_SGT: 1 #sensifity: -64 (high) .. 63 (low)
#stealthchop_threshold: 999999
driver_SLOPE_CONTROL: 3 #lower driver temperature

## Motor5
[tmc2240 stepper z2]
cs_pin: M5_CS_PIN
spi_software_mosi_pin: DRIVER_SPI_MOSI_PIN
spi_software_miso_pin: DRIVER_SPI_MISO_PIN
spi_software_sclk_pin: DRIVER_SPI_SCLK_PIN
run_current: 1.400
interpolate: False
#diag0_pin: ^!M5_DIAG_PIN
#driver_SGT: 1 #sensifity: -64 (high) .. 63 (low)
#stealthchop_threshold: 999999
driver_SLOPE_CONTROL: 3 #lower driver temperature

## Toolhead
[extruder]
# Motor 8
step_pin: M8_STEP_PIN
dir_pin: M8_DIR_PIN
enable_pin: !M8_ENABLE_PIN
microsteps: 16
# 
rotation_distance: 24.031
gear_ratio: 7:1
full_steps_per_rotation: 200
max_extrude_only_velocity: 60
max_extrude_only_accel: 3000
pressure_advance: 0.0
pressure_advance_smooth_time: 0.030
# 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0 # HE0
max_power: 1.0 #40 watt
sensor_pin: PB0   # TH0
sensor_type: Generic 3950 # EPCOS 100K B57560G104F
max_extrude_only_distance: 100.0
min_extrude_temp: 170
min_temp: 0
max_temp: 300

#m8
[tmc2240 extruder]
cs_pin: M8_CS_PIN
spi_software_mosi_pin: DRIVER_SPI_MOSI_PIN
spi_software_miso_pin: DRIVER_SPI_MISO_PIN
spi_software_sclk_pin: DRIVER_SPI_SCLK_PIN
run_current: 0.565
interpolate: False
#diag0_pin: ^!M8_DIAG_PIN
#driver_SGT: 1 #sensifity: -64 (high) .. 63 (low)
#stealthchop_threshold: 999999
driver_SLOPE_CONTROL: 3 #lower driver temperature

#part cooling fan
[fan]
pin: PF7 # fan0
#pin: EXP2_7 #pseudo - no fan
off_below: 0.2
#hotend cooling fan

[heater_fan hotend_cooling_fan]
pin: PF9 # fan1
#pin: EXP2_7 #pseudo - no fan
heater: extruder
heater_temp: 30.0
fan_speed: 1.0
#heatbed
[heater_bed]
heater_pin: FAN4_PIN #PA4 #FAN4
sensor_pin: PB1 #TEMP_BED_PIN
sensor_type: Generic 3950 # EPCOS 100K B57560G104F
min_temp: 0
max_temp: 120


#z-probe Cartographer
[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 26.3
verbose: yes

[cartographer scan]
mesh_runs: 2
mesh_direction: x

[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 20,20 # 10 ,   12 # positions seen from probe - offsets applied
mesh_max: 215,215 # 225 , 225 # positions seen from probe
zero_reference_position: 117.5 , 117.5 #z=0 position seen from probe position_safe_home=center of mesh - 12 | (117.9, 155.0) | (155.0, 155.0)
probe_count: 20,20
#algorithm: bicubic
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[z_tilt]
#z screw positions seen from nozzle
z_positions: 
    -7.5, 24.5 #z0 front/left
    242.5, 24.5 #z1 front/right
    117.5, 274.5 #z2 back/center
# positions to probe seen from nozzle - no offsets applied
points: 
     20 ,   -6 #z0 f/l
    215 ,   -6 #z1 f/r
    117.5,  189 #z2 b/c
horizontal_move_z: 5
speed: 80
retries: 5
retry_tolerance: 0.01


[resonance_tester]
#accel_chip: adxl345
probe_points:
    117.5, 117.5, 20

[neopixel rgbstrip]
pin: PD15
chain_count: 18
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0

[delayed_gcode INIT_LEDS]
# This runs once at startup and initializes rgbstrip.
initial_duration: 2
gcode:
  SET_LED LED="rgbstrip" RED=0 GREEN=0 BLUE=0.5 SYNC=0 TRANSMIT=1

[gcode_macro demo]
description: Just a demo
  Usage: DEMO SPEED=<speed>
gcode:
  {% set speed = params.SPEED|default(50)|float %}
 
  G90
  G1 F{speed*60}
  G1 X100 Y100
  G1 X188.111 Y82.873
  G3 X189.76 Y100 I-88.109 J17.127
  G1 X189.746 Y101.567
  G3 X188.103 Y82.834 I-89.745 J-1.566
  G1 X188.05 Y82.925
  G1 X100 Y100
 
#sensorless homing test
[olli_homing]
axes: xyz
z_hop: 10
z_hop_speed: 16
gcode:
  {% set olli = printer["gcode_macro _olli_globals"] %}
  {% set this = printer.configfile.config.olli_homing %}

	{% set x_homed = 'x' in printer.toolhead.homed_axes %}
	{% set y_homed = 'y' in printer.toolhead.homed_axes %}
	{% set z_homed = 'z' in printer.toolhead.homed_axes %}
	
  {% set safe_home_x = olli.safe_home_x %}
  {% if safe_home_x is not defined or safe_home_x|lower == 'middle' %}
		{% set safe_home_x = olli.print_max[0] / 2 %}
	{% endif %}
  
  {% set safe_home_y = olli.safe_home_y %}
	{% if safe_home_y is not defined or safe_home_y|lower == 'middle' %}
		{% set safe_home_y = olli.print_max[1] / 2 %}
	{% endif %}
	
  {% set z_hop = this.z_hop|float %}
	{% set z_hop_speed = this.z_hop_speed|float * 60 %}

	M400                        # Wait for moves to finish
	G90                         # Absolute positioning
  {% if z_homed == False %}
    {% if printer['bed_mesh'] is defined and printer['bed_mesh'].profile_name|length > 0 %}
      RESPOND MSG="z unknown: clearing mesh: {printer['bed_mesh'].profile_name}"
      BED_MESH_CLEAR
    {% endif %}
  {% endif %}

	{% if params.X is defined or params.Y is not defined and params.Z is not defined %}
		RESPOND MSG="Homing X"
		_HOME_X_SENSORLESS
		{% set x_homed = True %}
		#G0 X{safe_home_x} F{50*60}
		M400 # Wait for moves to finish
	{% endif %}

	{% if params.Y is defined or params.X is not defined and params.Z is not defined %}
		RESPOND MSG="Homing Y"
    _HOME_Y_SENSORLESS
		{% set y_homed = True %}
		#G0 Y{safe_home_y} F{50*60}
		M400 # Wait for moves to finish
	{% endif %}

	{% if params.Z is defined or params.Y is not defined and params.X is not defined %}
		RESPOND MSG="Homing Z"
		{% if x_homed == False or y_homed == False %}
			M118 X and Y must be homed before homing Z
			{ action_emergency_stop("X and Y must be homed before homing Z") }
		{% else %}
			G0 X{safe_home_x} Y{safe_home_y} F{80*60}
      M400
      G28 Z
      G0 Z{z_hop} F{z_hop_speed}
    {% endif %}
	{% endif %}
  G1 F{120*60}
  #DUMP_VARIABLES NAME="stepper_enable"

[gcode_macro _HOME_X_SENSORLESS]
gcode:
  {% set HOME_CUR = 0.700 %}
  {% set RUN_CUR_A = printer.configfile.settings['tmc2240 stepper a'].run_current %}
  {% set RUN_CUR_B = printer.configfile.settings['tmc2240 stepper b'].run_current %}
  SET_TMC_CURRENT STEPPER=a CURRENT={HOME_CUR}
  SET_TMC_CURRENT STEPPER=b CURRENT={HOME_CUR}
  # Pause to ensure driver stall flag is clear
  G4 P300
  G28 X
  _CLIENT_LINEAR_MOVE X=5 #home to min
  SET_TMC_CURRENT STEPPER=a CURRENT={RUN_CUR_A}
  SET_TMC_CURRENT STEPPER=b CURRENT={RUN_CUR_B}
  G4 P300

[gcode_macro _HOME_Y_SENSORLESS]
gcode:
  {% set HOME_CUR = 0.700 %}
  {% set RUN_CUR_A = printer.configfile.settings['tmc2240 stepper a'].run_current %}
  {% set RUN_CUR_B = printer.configfile.settings['tmc2240 stepper b'].run_current %}
  SET_TMC_CURRENT STEPPER=a CURRENT={HOME_CUR}
  SET_TMC_CURRENT STEPPER=b CURRENT={HOME_CUR}
  # Pause to ensure driver stall flag is clear
  G4 P300
  G28 Y
  _CLIENT_LINEAR_MOVE Y=-5 #home to max
  SET_TMC_CURRENT STEPPER=a CURRENT={RUN_CUR_A}
  SET_TMC_CURRENT STEPPER=b CURRENT={RUN_CUR_B}
  G4 P300
  
[gcode_macro _ALIGN_Z_SENSORLESS]
gcode:
  {% set HOME_CUR = 0.700 %}
  {% set RUN_CUR_Z = printer.configfile.settings['tmc2240 stepper z'].run_current %}
  {% set RUN_CUR_Z1 = printer.configfile.settings['tmc2240 stepper z1'].run_current %}
  {% set RUN_CUR_Z2 = printer.configfile.settings['tmc2240 stepper z2'].run_current %}
  SET_TMC_CURRENT STEPPER=z CURRENT={HOME_CUR}
  SET_TMC_CURRENT STEPPER=z1 CURRENT={HOME_CUR}
  SET_TMC_CURRENT STEPPER=z2 CURRENT={HOME_CUR}
  # Pause to ensure driver stall flag is clear
  G4 P300
  G28 Z
  G0 Z215 F{60*16}
  SET_TMC_CURRENT STEPPER=z CURRENT={RUN_CUR_Z}
  SET_TMC_CURRENT STEPPER=z1 CURRENT={RUN_CUR_Z1}
  SET_TMC_CURRENT STEPPER=z2 CURRENT={RUN_CUR_Z2}
  G4 P300

[gcode_macro _ALIGN_Z]
gcode:
  G28 Z
  _CLIENT_LINEAR_MOVE Z=-5
  M400
  
[gcode_macro _HOME_Z_PROBE]
gcode:
  PROBE
  SET_KINEMATIC_POSITION Z=0 SET_HOMED=Z
  M400

[gcode_macro _DEBUG_MESH]
gcode:
  {% if printer['bed_mesh'] is defined %}
    RESPOND MSG="bed_mesh_length {printer['bed_mesh'].profile_name|length} ..."
    RESPOND MSG="mesh_matrix {printer['bed_mesh'].mesh_matrix[0]|length} ..."
    RESPOND MSG="probed_matrix {printer['bed_mesh'].probed_matrix[0]|length} ..."
  {% endif %}

[gcode_macro START_PRINT]
description: Inserted by slicer at start of print.
  Usage: START_PRINT BED=<temp> EXTRUDER=<temp>
gcode:
  {% set BED_TEMP = params.BED|default(50)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}
  {% set MESH_NAME = "MESH-" + BED_TEMP|int|string + "C" %}
  #reset
  G90 ; use absolute coordinates
  M82 ; extruder absolute mode
  G92 E0 ; reset extruder
  SET_GCODE_OFFSET Z=0.0
  SET_PRESSURE_ADVANCE ADVANCE=0
  BED_MESH_CLEAR
  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=1.0

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
  #conditional homing
  MAYBE_HOME
  #waiting position
  G1 X0 Y0 F{100 * 60}

  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=0.0
  M190 S{BED_TEMP}
  #Heat soak
  _HEAT_WAIT MINUTES=3 MSG="Heatsoak..."  
  
  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=1.0
  Z_TILT_ADJUST
  
  #touch home
    
  SET_LED LED="rgbstrip" RED=1.0 GREEN=1.0 BLUE=0.0
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150 MAXIMUM=151
  
  CARTOGRAPHER_TOUCH_HOME ; Home for real Z0
  
  BED_MESH_CALIBRATE PROFILE={MESH_NAME}
  #waiting position
  G1 X0 Y0 Z10 F{200 * 60}
  
  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=0.0
  M109 S{EXTRUDER_TEMP}
  SET_LED LED="rgbstrip" RED=1.0 GREEN=1.0 BLUE=1.0

[gcode_macro END_PRINT]
description: Inserted by slicer at end of print.
  Usage: PRINT_END
variable_filament_park_distance: 30 #25 #nozzle->coldzone
variable_filament_park_speed: 30
gcode:
  G91 ; Set coordinates to relative
  G1 Z1
  {% set act       = printer.gcode_move.gcode_position %}
  {% set max       = printer.toolhead.axis_maximum %}
  {% set min       = printer.toolhead.axis_minimum %}
  {% set x_pos     = 0 %}
  {% set y_pos     = 0 %}
  {% set z_pos     = [act.z+80,max.z]|min %}
  G90
  G1 X{x_pos} F{50 * 60}
  _CLIENT_EXTRUDE LENGTH=2 SPEED=5
  _CLIENT_RETRACT LENGTH=5 SPEED=40
  
  G1 Y{y_pos} Z{z_pos} F{50 * 60} ; present print
  M400
  ; reset
  G90 ; use absolute coordinates
  M82 ; extruder absolute mode
  G92 E0 ; reset extruder
  SET_GCODE_OFFSET Z=0.0
  SET_PRESSURE_ADVANCE ADVANCE=0
  M140 S0 ; turn off heatbed
  M104 S0 ; turn off temperature
  M107 ; turn off fan
  M84 ; disable motors

[gcode_macro _HEAT_WAIT]
description: Heating cycle waiting routine
gcode:
    {% set MINUTES = params.MINUTES|default(2)|int %}
    {% set MSG = params.MSG|default("Warming...")|string %}
    {% for i in range(0, MINUTES) %}
        RESPOND MSG="{MSG} {MINUTES-i} minute{% if MINUTES-i > 1 %}s{% endif %} remaining."
        SET_DISPLAY_TEXT MSG="{MSG} {MINUTES-i} minute{% if MINUTES-i > 1 %}s{% endif %} remaining."
        {% for s in range(0, 60) %}
            SET_LED LED=rgbstrip RED=0.8 GREEN=0.0 BLUE=0.0
            G4 P500
            SET_LED LED=rgbstrip RED=0.5 GREEN=0.0 BLUE=0.0
            G4 P500
        {% endfor %}
    {% endfor %}
    RESPOND MSG="{MSG} finished"
    SET_DISPLAY_TEXT


[gcode_macro TEST_PRINT]
description: Inserted by slicer at start of print.
  Usage: START_PRINT BED=<temp> EXTRUDER=<temp>
gcode:
  {% set BED_TEMP = params.BED|default(50)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}
  {% set MESH_NAME = "MESH-" + BED_TEMP|int|string + "C" %}
  #reset
  G90 ; use absolute coordinates
  M82 ; extruder absolute mode
  G92 E0 ; reset extruder
  SET_GCODE_OFFSET Z=0.0
  SET_PRESSURE_ADVANCE ADVANCE=0
  BED_MESH_CLEAR
  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=1.0

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
  #conditional homing
  MAYBE_HOME
  #waiting position
  G1 X0 Y0 F{200 * 60}

  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=0.0
  RESPOND MSG="Waiting for bed temp {BED_TEMP} ..."
  M190 S{BED_TEMP}
  RESPOND MSG="bed temp {BED_TEMP} reached..."
  #Heat soak
  _HEAT_WAIT MINUTES=3 MSG="Heatsoak..."  
  
  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=1.0
  Z_TILT_ADJUST
  
  #touch home
    
  SET_LED LED="rgbstrip" RED=1.0 GREEN=1.0 BLUE=0.0
  RESPOND MSG="Ensure nozzle is at 150C"
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150 MAXIMUM=151
  RESPOND MSG="nozzle temp 150C reached"

  CARTOGRAPHER_TOUCH_HOME ; Home for real Z0
  
  BED_MESH_CALIBRATE PROFILE={MESH_NAME}
  #waiting position
  G1 X0 Y0 Z10 F{200 * 60}
  
  SET_LED LED="rgbstrip" RED=1.0 GREEN=0.0 BLUE=0.0
  RESPOND MSG="Waiting for nozzle temp {EXTRUDER_TEMP} ..."
  M109 S{EXTRUDER_TEMP}
  RESPOND MSG="noozle temp {EXTRUDER_TEMP} reached..."
  SET_LED LED="rgbstrip" RED=1.0 GREEN=1.0 BLUE=1.0
  
  M140 S0 ; turn off heatbed
  M104 S0 ; turn off temperature
  

