# load/unload filament
[gcode_macro _set_hotend_temp]
description: check/set hotend temperature for load/unload filament 
gcode:
    {% set temp = params.TEMP|default(220)|int %}
    {% if printer.extruder.temperature|int < temp or printer.extruder.can_extrude|lower == 'false' %}
    	# heating extruder
        RESPOND MSG="Heating extruder to {temp}°C... Please wait."
        SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={temp}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp}
    {% endif %}

[gcode_macro _LOAD_FILAMENT]
description: Load Filament into extruder and hotend
gcode:
    _set_hotend_temp TEMP=220
    SAVE_GCODE_STATE NAME=loadfilament
    M83
    G1 E50 F{5*60} #load filament slow

    G1 E-1 F{30*60} #retract

    G1 E10 F{5*60} #purge blob

    G1 E-1 F{30*60} #retract
   
    M400
    RESTORE_GCODE_STATE NAME=loadfilament MOVE=0

[gcode_macro _UNLOAD_FILAMENT]
description: unload Filament out of extruder
variable_filament_park_distance: 30 #25 #nozzle->coldzone
variable_filament_park_speed: 30
variable_filament_unload_speed: 1
gcode:
    {% set shaping_moves = 5 %}
    {% set shaping_distance = (shaping_moves * (1 + shaping_moves)/20) %}

    _set_hotend_temp TEMP=220
    SAVE_GCODE_STATE NAME=unloadfilament
    M83
    G1 E10 F{20*60} #prime1
    G1 E10 F{25*60} #prime2
    G4 P500
    #G1 E-1 F{30*60} #retract
    G0 E{'%.4f' % -(filament_park_distance - shaping_distance)} F{25*60}
    # Shape the tip with a pairs of short extrusions and retractions, where
    # the retractions get increasingly longer than the extrusion.
    {% for i in range(1, shaping_moves + 1) %}
      G0 E2 F{2*60}
      G0 E-{2 + (0.1 * i)} F{2*60}
    {% endfor %}
    
    G1 E-50 F{filament_unload_speed*60} #unload filament
    M400
    RESTORE_GCODE_STATE NAME=unloadfilament MOVE=0


[gcode_macro LOAD_FILAMENT]
description: Load Filament into hotend
gcode:
    {% if printer.print_stats.state == 'printing' %}
        RESPOND TYPE=error MSG="LOAD_FILAMENT disabled"
    {% else %}
        _LOAD_FILAMENT
        {% if not printer.pause_resume.is_paused %}
            SET_HEATER_TEMPERATURE HEATER="extruder" TARGET=0
        {% endif %}
    {% endif %}

[gcode_macro UNLOAD_FILAMENT]
description: unload Filament out of hotend/extruder
gcode:
    {% if printer.print_stats.state == 'printing' %}
        RESPOND TYPE=error MSG="UNLOAD_FILAMENT disabled"
    {% else %}
        _UNLOAD_FILAMENT
        {% if not printer.pause_resume.is_paused %}
            SET_HEATER_TEMPERATURE HEATER="extruder" TARGET=0
        {% endif %}
    {% endif %}
