# load/unload filament
[gcode_macro _set_hotend_temp]
description: check/set hotend temperature for load/unload filament 
gcode:
    {% set temp = params.TEMP|default(220)|int %}
    {% if printer.extruder.temperature|int < temp or printer.extruder.can_extrude|lower == 'false' %}
    	# heating extruder
        RESPOND MSG="Heating extruder to {temp}°C... Please wait."
        SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={temp}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp}
    {% endif %}

[gcode_macro _LOAD_FILAMENT]
description: Load Filament into extruder and hotend
gcode:
    _set_hotend_temp TEMP=220
    SAVE_GCODE_STATE NAME=loadfilament
    M83
    G1 E50 F{5*60} #load filament slow

    G1 E-1 F{30*60} #retract

    G1 E10 F{5*60} #purge blob

    G1 E-1 F{30*60} #retract
   
    M400
    RESTORE_GCODE_STATE NAME=loadfilament MOVE=0

[gcode_macro _UNLOAD_FILAMENT]
description: unload Filament out of extruder
gcode:
    {% set shaping_moves = 5 %}
    
    _set_hotend_temp TEMP=220
    SAVE_GCODE_STATE NAME=unloadfilament
    M83
    G1 E20 F{5*60} #purge blob
    G1 E-1 F{30*60} #retract
    G1 E2 F{5*60} #retract
    G1 E-5 F{30*60} #retract
    G4 P2000 #wait 2 sec. 
    ##{% for i in range(1, shaping_moves + 1) %}
    #    G1 E1 F{5*60} #extrude
    #    G1 E-1 F{5*60} #retract
    #{% endfor %}
    G1 E-50 F{5*60} #unload filament slow
    M400
    RESTORE_GCODE_STATE NAME=unloadfilament MOVE=0


[gcode_macro LOAD_FILAMENT]
description: Load Filament into hotend
gcode:
    {% if printer.print_stats.state == 'printing' %}
        RESPOND TYPE=error MSG="LOAD_FILAMENT disabled"
    {% else %}
        _LOAD_FILAMENT
        {% if not printer.pause_resume.is_paused %}
            SET_HEATER_TEMPERATURE HEATER="extruder" TARGET=0
        {% endif %}
    {% endif %}

[gcode_macro UNLOAD_FILAMENT]
description: unload Filament out of hotend/extruder
gcode:
    {% if printer.print_stats.state == 'printing' %}
        RESPOND TYPE=error MSG="UNLOAD_FILAMENT disabled"
    {% else %}
        _UNLOAD_FILAMENT
        {% if not printer.pause_resume.is_paused %}
            SET_HEATER_TEMPERATURE HEATER="extruder" TARGET=0
        {% endif %}
    {% endif %}
