# manta m8p v2 
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

[board_pins manta-m8p-20]
aliases:
    # EXP1 header
    EXP1_1=PE7,  EXP1_2=PG1,
    EXP1_3=PG0,  EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8 , EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>,

    #motor/drivers
    M1_DIR_PIN=PE5,  M1_STEP_PIN=PE6,  M1_ENABLE_PIN=PC14, M1_CS_PIN=PC13, M1_UART_PIN=PC13, M1_STOP_PIN=PF4,  M1_DIAG_PIN=PF4,
    M2_DIR_PIN=PE1,  M2_STEP_PIN=PE2,  M2_ENABLE_PIN=PE4,  M2_CS_PIN=PE3,  M2_UART_PIN=PE3,  M2_STOP_PIN=PF3,  M2_DIAG_PIN=PF3,
    M3_DIR_PIN=PB7,  M3_STEP_PIN=PB8,  M3_ENABLE_PIN=PE0,  M3_CS_PIN=PB9,  M3_UART_PIN=PB9,  M3_STOP_PIN=PF2,  M3_DIAG_PIN=PF2,
    M4_DIR_PIN=PB3,  M4_STEP_PIN=PB4,  M4_ENABLE_PIN=PB6,  M4_CS_PIN=PB5,  M4_UART_PIN=PB5,  M4_STOP_PIN=PF1,  M4_DIAG_PIN=PF1,
    M5_DIR_PIN=PG12, M5_STEP_PIN=PG13, M5_ENABLE_PIN=PG15, M5_CS_PIN=PG14, M5_UART_PIN=PG14, M5_STOP_PIN=PF0,  M5_DIAG_PIN=PF0,
    M6_DIR_PIN=PD7,  M6_STEP_PIN=PG9,  M6_ENABLE_PIN=PG11, M6_CS_PIN=PG10, M6_UART_PIN=PG10, M6_STOP_PIN=PC15, M6_DIAG_PIN=PC15,
    M7_DIR_PIN=PD3,  M7_STEP_PIN=PD4,  M7_ENABLE_PIN=PD6,  M7_CS_PIN=PD5,  M7_UART_PIN=PD5,  M7_STOP_PIN=<NC>, M7_DIAG_PIN=<NC>,
    M8_DIR_PIN=PC8,  M8_STEP_PIN=PC7,  M8_ENABLE_PIN=PD2,  M8_CS_PIN=PC6,  M8_UART_PIN=PC6,  M8_STOP_PIN=<NC>, M8_DIAG_PIN=<NC>,
    #spi pins
    DRIVER_SPI_MOSI_PIN=PG6, DRIVER_SPI_MISO_PIN=PG7, DRIVER_SPI_SCLK_PIN=PG8,
    #fans
    FAN0_PIN=PF7, FAN1_PIN=PF9, FAN2_PIN=PF6, FAN3_PIN=PF8, FAN4_PIN=PA4,
    FAN5_PIN=PA6, FAN5_TACHO_PIN=PC2,
    FAN6_PIN=PA2, FAN6_TACHO_PIN=PC1,
    #
    PSEUDO_PIN=<NC>

#manta m8p v2
[mcu]
serial: /dev/serial/by-id/<find serial-id>

[temperature_sensor Manta-m8p-v2]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100
