# board Octopus V1.0 (STM32F446)
[board_pins  octopus10]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5,
    # Thermistor pins TB, TH0, TH1, TH2, TH2
    TEMP_BED_PIN=PF3, TEMP_0_PIN=PF4, TEMP_1_PIN=PF5, TEMP_2_PIN=PF6, TEMP_3_PIN=PF7,
    # Heater pins, bed, HE0, HE1, HE2, HE3
    HEATER_BED_PIN=PA1, HEATER_0_PIN=PA2, HEATER_1_PIN=PA3, HEATER_2_PIN=PB10, HEATER_3_PIN=PB11,
    # fans
    FAN0_PIN=PA8,FAN1_PIN=PE5,FAN2_PIN=PD12, FAN3_PIN=PD13, FAN4_PIN=PD14, FAN5_PIN=PD15,
    # probe port (bltouch, microprobe)
    PROBE_PIN=PB7, PROBE_CONTROL=PB6,
    # drivers
    X_STEP_PIN= PF13, X_DIR_PIN= PF12, X_ENABLE_PIN= PF14, X_ENDSTOP_PIN=  PG6, X_UART_PIN=  PC4, X_DIAG_PIN=  PG6, 
    Y_STEP_PIN=  PG0, Y_DIR_PIN=  PG1, Y_ENABLE_PIN= PF15, Y_ENDSTOP_PIN=  PG9, Y_UART_PIN= PD11, Y_DIAG_PIN=  PG9,
    Z_STEP_PIN= PF11, Z_DIR_PIN=  PG3, Z_ENABLE_PIN=  PG5, Z_ENDSTOP_PIN= PG10, Z_UART_PIN=  PC6, Z_DIAG_PIN= PG10, 
    Z1_STEP_PIN= PG4, Z1_DIR_PIN= PC1, Z1_ENABLE_PIN= PA0, Z1_ENDSTOP_PIN=PG11, Z1_UART_PIN= PC7, Z1_DIAG_PIN=PG11,
    E0_STEP_PIN= PF9, E0_DIR_PIN=PF10, E0_ENABLE_PIN= PG2, E0_ENDSTOP_PIN=PG12, E0_UART_PIN= PF2, E0_DIAG_PIN=PG12,
    E1_STEP_PIN=PC13, E1_DIR_PIN= PF0, E1_ENABLE_PIN= PF1, E1_ENDSTOP_PIN=PG13, E1_UART_PIN= PE4, E1_DIAG_PIN=PG13,
    E2_STEP_PIN= PE2, E2_DIR_PIN= PE3, E2_ENABLE_PIN= PD4, E2_ENDSTOP_PIN=PG14, E2_UART_PIN= PE1, E2_DIAG_PIN=PG14,
    E3_STEP_PIN= PE6, E3_DIR_PIN=PA14, E3_ENABLE_PIN= PE0, E3_ENDSTOP_PIN=PG15, E3_UART_PIN= PD3, E3_DIAG_PIN=PG15

[temperature_sensor Octopus-V1.0]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100
