### some, maybe usefull, macro snippets/mopckups

[gcode_macro M106]
description: Wraps M106 to do somheting
rename_existing: M106.1
gcode:
{% set speed = params.S|default(255)|int %}
M106.1 {rawparams}
{% if speed == 0 %}
  SET_PIN PIN=Valve_1 VALUE=0.00
  SET_PIN PIN=Valve_2 VALUE=0.00
{% elif speed < ((255/100*50)| round | int) %}
  SET_PIN PIN=Valve_1 VALUE=1.00
  SET_PIN PIN=Valve_2 VALUE=0.00 
{% elif speed >= ((255/100*50)| round | int) and speed < ((255/100*80)| round | int) %}
  SET_PIN PIN=Valve_1 VALUE=0.00
  SET_PIN PIN=Valve_2 VALUE=1.00
{% elif speed >= ((255/100*80)| round | int) %}
  SET_PIN PIN=Valve_1 VALUE=1.00
  SET_PIN PIN=Valve_2 VALUE=1.00
{% endif %}

[gcode_macro M107]
description: Wraps M107 to do somhething
rename_existing: M107.1
gcode:
M107.1 {rawparams}
SET_PIN PIN=Valve_1 VALUE=0.00
SET_PIN PIN=Valve_2 VALUE=0.00

#bla

[gcode_macro load_until_trigger]
variable_step=21
gcode:       
     {% set step = 0 %}
     G91                      
; Set relative positioning mode
     {% for step in range(20) %}
         _Find_Trigger
         G4 P200
     {% endfor %}
 
[gcode_macro _Find_Trigger]
gcode:
    
#QUERY_FILAMENT_SENSOR SENSOR='filament_sensor_2'
     {% if printer['filament_switch_sensor filament_sensor_2'].filament_detected %}
         RESPOND MSG="Filament detected!"
         SET_GCODE_VARIABLE MACRO=test VARIABLE=step VALUE=21
     {% elif not printer.probe.last_query %}
         G1 E1 F300 
         M400
     {% endif %}