# adxl3445 on cartographer mcu
[include ../macros/shaper.cfg]

[adxl345 cartographer]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345 cartographer
probe_points:
    <blank>, <blank>, 20
